div .input-group {
    margin-bottom: 2px;
}

textarea .teaser,
.input-group .teaser {
  height: 100px;
  min-height: 100px;
}

table tbody tr.isfuture {
	background-color: #2199e8;
}
table tbody tr.iscurrent {
	background-color: #e6e6e6;
}
table tbody tr.ispast {
	background-color: #ffae00;
}
table tbody tr.isproblem {
	background-color: #ec5840;
}


/*.header {
  padding: 10rem 0;
}

[data-sticky] {
  width: 100%; }

.top-bar {
  padding: 2rem;
  transition: padding .25s ease; }

.is-stuck .top-bar {
  padding: 1rem;
  transition: padding .25s ease; }*/
