/* Small only */
@media screen and (max-width: 39.9375em) {
    .column,
    .columns {
        padding-left: 20px;
        padding-right: 20px;
    }
    .featurepadding{
        padding-left: 0;
    }
    ul.social-icons {
        float:left;
    }
    #title-space  {
        height: 20rem;
    }
    .manageleftpadding{
        padding-left: 1rem;
    }

    #logo-box{
        padding: .3rem .6rem 0rem;
    }
    #logo-box img.block-e{
        display: block;
    }
    #logo-box img.full-logo{
        display: none;
    }
    #tier1-nav ul {
        font-size: 1rem;
        padding: 0rem 1rem .2rem 0;
        float: left;
    }
    #tier1-nav ul li:not(.search-area){
        display: none;
    }
    #tier1-nav ul li.menu-area {
        display: inline;
        padding-left: .1rem;
    }
    #tier1-nav ul li a{
        padding: 0 .3rem 0 0;
    }
    #tier1-nav h3{
        font-weight: 400;
        font-size: 1.2rem;
        margin: .3rem 0 .2rem 0;
        padding: 0;
    }
    #tier1-nav h3 span.first-word{
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1.3rem;
    }
    #tier2-nav ul{
        display: none;
    }
    #featured-text{
      padding-top: .8rem;
    }
    #featured-text p{
        font-size: .9rem;
        line-height: 1.3rem;
    }
    #featured-text h3 {
        font-size: 1.2rem;
        line-height: 1.3rem;
        margin-top: 0;
    }
     #four-stories-bar a.button {
        padding: .3rem .6rem;
    }
    #four-stories-bar{
        padding: .8rem 1rem;
    }
    #four-stories-bar .manageleftpadding{
        padding-left: 0;
    }
    #base-bar .row, #base-message-bar .row{
        padding-left: 1rem;
        padding-right: 1rem;
        }
    #newshub-headlines-front ul li a{
        font-size: .9rem;
       line-height: 1.3rem;
    }
    #newshub-headlines-front ul{
        margin-bottom: 1rem;
    }
    .publish-date {
        float: left;
        width: 100%;
    }
    #news-story-bar, #listing-bar {
        padding-left: .5rem;
        padding-right: .5rem;
        margin: 0;
    }
    .managehorizontalpadding{
        padding-left: .6rem;
        padding-right: .6rem;
    }
    #calendar-bar h3.toptitle{
        margin-top: 0;
    }
    #five-events-container{
        display: none;
    }
    #profile-text-over-image-box{
        width: 50%;
        top: 45%;
        padding: .4rem .8rem 0rem;
    }
    #profile-text-over-image-box p{
        line-height: 1rem;
        font-size:.9rem;
        }
    #profile-text-over-image-box p:first-child{
      display: none;
    }
    #student-feature h4{
        line-height: 1.3rem;
        margin-top: 0rem;
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  .column,
  .columns {
      padding-left: .6rem;
      padding-right: .6rem;
  }


}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    /*.column,
    .columns {
        padding-left: 30px;
        padding-right: 30px;
    }*/

    .featurepadding{
       padding-left: 0;
   }
   #four-stories-bar{
       padding-left: .5rem;
       padding-right: .5rem;
   }
   #four-stories-bar .manageleftpadding{
       padding-left: 0;
   }
   #tier2-nav ul{
       font-size: .73rem;
   }

   #tier3-nav ul{
       font-size: .72rem;
   }
   #tier3-nav ul li a{
        padding: 0 .1rem;
   }

   #logo-box {
       background-color: #0f654a;
       height: auto;
       padding: 1.4rem 1rem 1.9rem;
       position: absolute;
       z-index: 200;
   }
   #tier1-nav ul {
       padding-right: 1rem;
       font-size: 1rem;
   }
   #tier1-nav ul li:not(.search-area){
       display: none;
   }
   #tier1-nav ul li.menu-area {
       /*display: inline;*/
   }
   #tier2-nav ul{
   }
   #tier2-nav ul li a{
       padding: 0 .1rem 0 .5rem;
   }
   #featured-text{
     padding-top: 1rem;
   }
   #featured-text p{
       font-size: .9rem;
       line-height: 1.3rem;
   }
   #featured-text h3 {
       font-size: 1.2rem;
       line-height: 1.3rem;
       margin-top: 0;
   }
   #base-bar .row, #base-message-bar .row{
       padding-left: 1rem;
       padding-rigth: 1rem;
       }
   #newshub-headlines-front ul li a{
       font-size: .9rem;
       line-height: 1.3rem;
   }
   ul.social-icons {
       float:left;
   }
   .featured-content-block span.truemu{
       display: none;
   }
   #news-story-bar, #listing-bar {
       padding-left: .5rem;
       padding-right: .5rem;
       margin: 0;
   }

   #five-events-bar li:nth-child(n+4){
       display: none;
   }
   .manageleftpadding{
       padding-left: .6rem;
   }
   .managehorizontalpadding{
       padding-left: .6rem;
       padding-right: .6rem;
   }
   #profile-text-over-image-box{
       width: 50%;
       top: 38%;
       padding: 1.3rem 1.2rem 1rem;
   }
   #profile-text-over-image-box p{
       margin-bottom: .5rem;
       font-size: .9rem;
       line-height: 1.1rem;
   }
   #student-feature h4{
       line-height: 1.2rem;
       margin-top: 1rem;
   }
   #student-feature p{
       line-height: 1.2rem;
       font-size: .9rem;
   }
}

/* Large and up */
@media screen and (min-width: 64em) {
    /*.column,
    .columns {
        padding-left: .6rem;
        padding-right: .6rem;
    }*/

}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
