
.tabs {
  margin: 0;
  list-style-type: none;
  background: #ffffff;
  border: 0;
  border-bottom: 1px solid #e6e6e6;

}
  .tabs::before, .tabs::after {
    content: ' ';
    display: table; }
  .tabs::after {
    clear: both; }

.tabs.vertical > li {
  width: auto;
  float: none;
  display: block; }

.tabs.simple > li > a {
  padding: 0; }
  .tabs.simple > li > a:hover {
    background: transparent; }

.tabs.primary {
  background: #0f654a; }
  .tabs.primary > li > a {
    color: #ffffff; }
    .tabs.primary > li > a:hover, .tabs.primary > li > a:focus {
      background: #127657; }

.tabs-title {
  float: left;

}
  .tabs-title > a {
    display: block;
    padding: 1.25rem 1.5rem;
    line-height: 1;
    font-size: 1rem;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 0;
  }
    .tabs-title > a:hover {
      background: #cacaca;
    }
    .tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
      background: #e6e6e6;
      border:  1px solid #e6e6e6;
      /*border-top: 1px solid #666666;
      border-left: 1px solid #666666;
      border-right: 1px solid #666666;
      border-bottom: 1px solid #e6e6e6;*/

    }

 .tabs-content {
  background: #e6e6e6;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
    border:  1px solid #e6e6e6;
  /*border-top: 1px solid #e6e6e6;
  border-left: 1px solid #666666;
  border-right: 1px solid #666666;
  border-bottom: 1px solid #666666;*/
}



.tabs-panel {
  display: none;
  padding: 1rem; }
  .tabs-panel.is-active {
    display: block; }



.newshub-tab-front ul{
    list-style: none;
    margin:0;
    color: #333;
}
.newshub-tab-front ul li{
    border-bottom: 1px dotted #ccc;
}
.newshub-tab-front ul li:last-of-type{
    border-bottom: none;
}
.newshub-tab-front ul li a{
    display: block;
    padding: .4rem 0;
    color: #333;
    line-height: 1.4rem;
}
.newshub-tab-front ul li a:hover{
    /*background-color: #fefefe;*/

}

.tabs {
  /*border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;*/
/*//  background: #ffffff;*/
}
/*.tabs-title > a {
      background:  #ffffff;
      border-bottom: 1px solid #e6e6e6;
      border-top: 1px solid #e6e6e6;
      border-left: 1px solid #e6e6e6;
      border-right: 1px solid #e6e6e6;
      top: 1px;
  }*/


.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
    /*background:  #fefefe;
    border-bottom:1px solid #fefefe;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;*/
    /*top: 1px;*/
}
#newshub-headlines-front {
  /*border-bottom:1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;*/
}
#newshub-announcements-front {
  /*border-bottom:1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;*/
}
/*.tabs-title > a[aria-selected='false'] {
      background:  #ffffff;
      border-bottom: 1px solid #ffffff;
      border-top: 1px solid #e6e6e6;
      border-left: 1px solid #e6e6e6;
      border-right: 1px solid #e6e6e6;
      top: 1px;
  }*/
.tabs-title > a:hover {
  /*text-decoration: none;*/
}
.tabs-content {
  /*background: #fefefe;*/
  /*border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;*/
  /* border-top: 0; */
  }
  /*.tabs .tabs-title  {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }*/
  /*.tabs li.tabs-title .is-active {
    border-bottom-style: none;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }*/
/*.tabs dd.active a, .tabs .tab-title.active a {
    border-bottom: 1px none;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}*/



/* Styles for Date Selector */
/*.month {
  height: 110px;
  width: 100%;
  background: #0f654a;
  overflow: hidden;
  text-align: center;
}
.month .back {
  position: relative;
  padding: 20px;
  float: left;
  height: 100%;
}
.month .back:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #fff;
  position: absolute;
  top: 46px;
  left: 22px;
  opacity: 0.5;
}
.month .next {
  position: relative;
  padding: 20px;
  float: right;
  height: 100%;
}
.month .next:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #fff;
  position: absolute;
  top: 46px;
  right: 22px;
  opacity: 0.5;
}
.month h5 {
  color: #fff;
  margin: 42px 0 0;
  text-transform: uppercase;
}
.month p {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}*/
