/*#tier1-nav .toppad{
  padding-top: .3rem;
}*/


i.fi-play {
  padding-left: 0.5rem;
}


i.fi-arrow-right.calstyle1,
i.fi-arrow-left.calstyle1 {
  font-size: 1rem;
  color: #ffffff;
}

a.magazine-article-button {
  color: #222;
}

.four-stories-block{
  padding-bottom: 10px;
}
/* Styles for Date Selector */
.month {
  height: 110px;
  width: 100%;
  background: #0f654a;
  overflow: hidden;
  text-align: center;
}
.month .back {
  position: relative;
  padding: 20px;
  float: left;
  height: 100%;
}
.month .back:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #fff;
  position: absolute;
  top: 46px;
  left: 22px;
  opacity: 0.5;
}
.month .next {
  position: relative;
  padding: 20px;
  float: right;
  height: 100%;
}
.month .next:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #fff;
  position: absolute;
  top: 46px;
  right: 22px;
  opacity: 0.5;
}
.month h5 {
  color: #fff;
  margin: 42px 0 0;
  text-transform: uppercase;
}
.month p {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
