/*#tier1-nav .toppad{
  padding-top: .3rem;
}*/

#calendar-content-bar{
    padding: 0;
    margin: 0;
  background-color: #bebdbd;
}
.newshub-tab-front ul{
    list-style: none;
    margin:0;
    color: #333;
}
.newshub-tab-front ul li{
    /*border-bottom: 1px dotted #ccc;*/
}
.newshub-tab-front ul li:last-of-type{
    /*border-bottom: none;*/
}
.newshub-tab-front ul li a{
    display: block;
    padding: .4rem 0;
    color: #333;
    line-height: 1.4rem;
}
.newshub-tab-front ul li a:hover{
    text-decoration: none;
    /*background-color: #f8f8f8;*/
}

.tabs {
  /*border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;*/
  background: #ffffff;
}
.tabs-title > a {
      background:  #ffffff;
      border-bottom: 1px solid #e6e6e6;
      border-top: 1px solid #e6e6e6;
      border-left: 1px solid #e6e6e6;
      border-right: 1px solid #e6e6e6;
      top: 1px;
  }


.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
    background:  #fefefe;
    border-bottom:2px solid #fefefe;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    top: 1px;
}
/*.tabs-title > a[aria-selected='false'] {
      background:  #ffffff;
      border-bottom: 1px solid #ffffff;
      border-top: 1px solid #e6e6e6;
      border-left: 1px solid #e6e6e6;
      border-right: 1px solid #e6e6e6;
      top: 1px;
  }*/
.tabs-title > a:hover {
  text-decoration: none;
}
.tabs-content {
  background: #fefefe;
  /*border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;*/
  /* border-top: 0; */
  }
  /*.tabs .tabs-title  {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }*/
  /*.tabs li.tabs-title .is-active {
    border-bottom-style: none;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }*/
/*.tabs dd.active a, .tabs .tab-title.active a {
    border-bottom: 1px none;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}*/

i.fi-play {
  padding-left: 0.5rem;
}


i.fi-arrow-right.calstyle1,
i.fi-arrow-left.calstyle1 {
  font-size: 1rem;
  color: #ffffff;
}

a.magazine-article-button {
  color: #222;
}

.four-stories-block{
  padding-bottom: 10px;
}
/* Styles for Date Selector */
.month {
  height: 110px;
  width: 100%;
  background: #0f654a;
  overflow: hidden;
  text-align: center;
}
.month .back {
  position: relative;
  padding: 20px;
  float: left;
  height: 100%;
}
.month .back:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #fff;
  position: absolute;
  top: 46px;
  left: 22px;
  opacity: 0.5;
}
.month .next {
  position: relative;
  padding: 20px;
  float: right;
  height: 100%;
}
.month .next:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #fff;
  position: absolute;
  top: 46px;
  right: 22px;
  opacity: 0.5;
}
.month h5 {
  color: #fff;
  margin: 42px 0 0;
  text-transform: uppercase;
}
.month p {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
